html, body {
    height: 100%;
    width: 100%;
  }
  body {
    background-color:#0033ff;
    
  }
  #container {
    padding: 3rem;
    background-color: black;
    width: 20rem;
    padding-top: auto;
    padding-right:auto;
    padding-left:auto; 
    color:white;
    margin: auto;
    border-radius:20px;
    text-align:center;
  
    }
  h1 {
    text-align:center;
    color:white;
  }
  #socials {
    display: flex;
    flex-direction : row;
    justify-content : space-between;
    width: 10%;
    margin-left: auto;
    margin-right:auto;
    }
    footer {
      padding-top: 2rem;
      text-align: center;
      padding-top:  10rem;
    }
    
  
  